# DB
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_SSLMODE=disable

#
HTTP_SERVER_PORT=:8080

# JWT
JWT_SECRET=
JWT_EXPIRES_IN= # in hours

#ByBit
BASE_URL=
BYBIT_WS_BASE_URL=
BYBIT_API_KEY=
BYBIT_API_SECRET=
WS_CLIENT_BUFFER_SIZE=1000